<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>VertiCard Gallery Page</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/templatemo-style.css" />
</head>

<body>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">水表在链</h1>
      <p class="tm-primary-color"><i>链上水表公证系统</i></p>
    </header>

    <div class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li>
            <a href="/"><span class="tm-nav-deco"></span>首页</a>
          </li>
          <li>
            <a href="/gallery"><span class="tm-nav-deco"></span>合约</a>
          </li>
          <li class="active">
            <a href="/contract"><span class="tm-nav-deco"></span>上链</a>
          </li>
          <li>
            <a href="/report"><span class="tm-nav-deco"></span>报告</a>
          </li>
          <li>
            <a href="/sign"><span class="tm-nav-deco"></span>签名</a>
          </li>
        </ul>
      </nav>
      <div class="tm-content-container">
        <div class="tm-content tm-content-2">
          <table class="table table-striped table-bordered">
            <caption>模拟检定台自动上链水表的检定结果</caption>
            <thead>
            <tr>
              <th style="width: 30%">委托单号</th>
              <td><span th:text="${batch.batchId}"></span></td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>水表厂家</th>
              <td><span th:text="${batch.manufacturer}"></span></td>
            </tr>
            <tr>
              <th>水表表码</th>
              <td><span th:text="${batch.meterList}"></span></td>
            </tr>
            <tr>
              <th>检定员</th>
              <td><span th:text="${batch.verifierName}"></span></td>
            </tr>
            <tr>
              <th>有效期</th>
              <td><span th:text="${#dates.format(batch.validDate, 'yyyy-MM-dd hh:mm:ss')}"></span></td>
            </tr>
            <tr>
              <th>合约地址</th>
              <td><span style="word-break: break-all" th:text="${batch.contractAddress}"></span></td>
            </tr>
            </tbody>
          </table>
          </div>
        <div class="tm-content-2">
          <p>
          可使用本合约包含的水表表码在链查询检定结果. 查询完毕后您可以 <a href="javascript:window.close();">关闭窗体</a>.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <span>Copyright &copy; 2020.Company name All rights reserved.</span>
    </footer>
  </div>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script>
    $(document).ready(function () {
      // Magnific Pop up
      // https://dimsemenov.com/plugins/magnific-popup/
      $('.tm-gallery').magnificPopup({
        delegate: 'a', // child items selector, by clicking on it popup will open
        type: 'image',
        gallery: {
          enabled: true
        },
      });
    });
  </script>

</body>
</html>