<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/templatemo-style.css" />
</head>

<body>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">水表在链</h1>
      <p class="tm-primary-color"><i>链上水表公证系统</i></p>
    </header>

    <section class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li class="active">
            <a href="index.html"><span class="tm-nav-deco"></span>首页</a>
          </li>
          <li>
            <a href="/gallery"><span class="tm-nav-deco"></span>合约</a>
          </li>
          <li>
            <a href="/contract"><span class="tm-nav-deco"></span>上链</a>
          </li>
          <li>
            <a href="/report"><span class="tm-nav-deco"></span>报告</a>
          </li>
          <li>
            <a href="/sign"><span class="tm-nav-deco"></span>签名</a>
          </li>
        </ul>
      </nav>
      <div class="tm-content-container">
        <figure class="mb-0">
          <img src="img/img-1.jpg" alt="Image" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
          <h2 class="tm-page-title">水表检定证书的上链及检索</h2>
          <p class="mb-4">
            水表在安装到居民住宅前，按国家计量法须检定合格, 且必须在有效期内使用。
            水表按委托单进行批量检定，每个委托单包含1～100只水表。
            检定内容包括: 外观检定、压力检定、机电转换检定、流量点检定，其中任何一项不合格，该只水表均被认定为不合格。
            在检定内容中，以流量点检定过程最为复杂，以DN15水表为例， 需检定3个常用流量点，分别是:
            <ul>
          <li>Q1 - 31.25 L/h, 误差要求 +/-5.0%</li>
          <li>Q2 - 50 L/h, 误差要求 +/-2.0%</li>
          <li>Q3 - 2500 L/h, 误差要求 +/-2.0%</li>
            </ul>
          </p>
          <p>
            在自动化检定台上，控制水泵保持恒定流量，通过视觉识别水表字轮，分别记录在Q1/Q2/Q3恒定流量下的起至读数，
            并与检定台水泵流量计的计量水量进行比较，计算每个流量点的误差值。
            任何一个流量点的误差值超过规程要求，均被认定为不合格.
          </p>
          <p>
            上链数据：
            <ul>
            <li>- 从常用水表口径 DN15、DN20、DN25、...、DN150、DN200、DN300 等居民、工商业用户的水表，其需要
              检定的流量点的数值和个数都是不相同的，口径越大的水表，需要检定的流量点个数越多。</li>
          <li>- DN25口径及以下水表的检定有效期一般为6年，检定证书全部上链.</li>
          <li>- DN40口径及以上水表的检定有效期为2年，检定证书全部上链，流量点的检定结果也全部上链.</li>
        </ul>
          </p>
        </div>
      </div>
    </section>

    <footer>
      <span>Copyright &copy; 2020.Company name All rights reserved.</span>
    </footer>
  </div>
</body>

</html>