<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>链上检定结果</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/bootstrap/bootstrap.css}" href="../static/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/bootstrap/bootstrap-theme.css}" href="../static/bootstrap/bootstrap-theme.css"
          rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading text-center" align="center">
                    <span class="panel-title"><h2>链上检定结果</h2></span>
                </div>
                <div class="panel-heading text-center" align="center" th:if="${meter} eq null">
                    <span class="panel-title"><h3>表码有误，或检定结果未上链</h3></span>
                </div>
                <div class="panel-body" th:if="${meter} ne null">
                    <table class="table-bordered" style="width: 100%">
                        <tr>
                            <th>表码</th>
                            <td><span th:text="${meter.meterId}"></span></td>
                        </tr>
                        <tr>
                            <th>委托单号</th>
                            <td><span th:text="${meter.batchId}"></span></td>
                        </tr>
                        <tr>
                            <th>检定员</th>
                            <td><span th:text="${meter.verifierName}"></span></td>
                        </tr>
                        <tr>
                            <th>检定结果</th>
                            <td><span th:text="${meter.result}"></span></td>
                        </tr>
                        <tr>
                            <th>检定日期</th>
                            <td><span th:text="${meter.verifyTime}"></span></td>
                        </tr>
                        <tr>
                            <th>有效期</th>
                            <td><span th:text="${meter.validDateFmt}"></span></td>
                        </tr>
                        <tr>
                            <th>合约地址</th>
                            <td><span th:text="${meter.contractAddress}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>